<div class="landingpage">
  <div class="container-parent">
    <div class="container">
      <div class="frame-parent">
        <div class="frame-group">
          <div class="group-parent">
          <img class="frame-child" src="\assets\Ellipse 20.svg" alt="" />
          <div class="services">Services</div>
          <img class="service-icon" src="assets\\fluent-mdl2_c-r-m-services.svg" alt="" />
          </div>
          <div class="text">
            <div class="alerts-active">3 alerts active</div>
          </div>
        </div>
        <div class="down-parent">
          <div class="down">Down</div>
          <div class="div">2</div>
        </div>
        <div class="at-risk-parent">
          <div class="down">At Risk</div>
          <div class="div">0</div>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="frame-parent">
        <div class="frame-group">
          <div class="group-container">
            <img class="frame-item" src="\assets\Group 427318279-1.svg" alt="" />
            <div class="devices">Devices</div>
            <img class="icbaseline-devices-icon" src="\assets\ic_baseline-devices.svg" alt="" />
          </div>
          <div class="text2">
            <div class="alerts-active">Needs attention</div>
          </div>
        </div>
        <div class="down-parent">
          <div class="down">Major</div>
          <div class="div">2</div>
        </div>
        <div class="critical-parent">
          <div class="down">Critical</div>
          <div class="div">0</div>
        </div>
      </div>
    </div>
    <div class="container3">
      <div class="frame-parent">
        <div class="frame-group">
          <div class="group-parent2">
    <img class="frame-child" src="\assets\Group 427318279.svg" alt="" />
    <div class="services">Users</div>
    <img class="ciusers-icon" src="\assets\ci_users.svg" alt="" />
</div>
          <div class="text3">
            <div class="alerts-active">20.7% active rate</div>
          </div>
        </div>
        <div class="total-parent">
          <div class="down">Total</div>
          <div class="div">1711</div>
        </div>
        <div class="active-parent">
          <div class="down">Active</div>
          <div class="div">240</div>
        </div>
      </div>
    </div>
  </div>

 <div class="sidebar">

  <div
    class="button"
    [class.active-button]="activeButton === 1"
    (click)="setActiveButton(1)">
    <img class="icon" src="\assets\Icon-1.svg" alt="" />
  </div>

  <div
    class="button2"
    [class.active-button]="activeButton === 2"
    (click)="setActiveButton(2)">
    <img class="icon" src="\assets\Icon-2.svg" alt="" />
  </div>

  <div
    class="button3"
    [class.active-button]="activeButton === 3"
    (click)="setActiveButton(3)">
    <img class="icon" src="\assets\Icon-3.svg" alt="" />
  </div>

  <div
    class="button4"
    [class.active-button]="activeButton === 4"
    (click)="setActiveButton(4)">
    <img class="icon" src="\assets\Icon-4.svg" alt="" />
  </div>

  <div
    class="button5"
    [class.active-button]="activeButton === 5"
    (click)="setActiveButton(5)">
    <img class="icon" src="\assets\Icon-5.svg" alt="" />
  </div>

  <div
    class="button6"
    [class.active-button]="activeButton === 6"
    (click)="setActiveButton(6)">
    <img class="icon" src="\assets\Icon-7.svg" alt="" />
  </div>

  <div
    class="button7"
    [class.active-button]="activeButton === 7"
    (click)="setActiveButton(7)">
    <img class="icon" src="\assets\Icon-8.svg" alt="" />
  </div>

</div>
  

  <div class="rectangle-parent">
    <div class="group-child"></div>
    <div class="text4">
      <div class="ms">618,882 ms</div>
      <img class="icon8" src="\assets\Icon-5.svg" alt="" />
    </div>
    <div class="div7">10.240.72.145</div>
    <div class="div8">10.240.72.145</div>
    <div class="linkstatus">linkStatus</div>
    <div class="cmf-mise">CMF - Mise (DJP)</div>
    <div class="cmf-mise2">CMF - Mise (Automation)</div>
    <div class="get-cfs">Get CFS</div>
    <div class="div9">2026-03-20</div>
    <div class="div10">2026-03-20</div>
    <div class="top-slow-apis">Top Slow APIs</div>
    <img class="group-item" src="\assets\Frame 427319229.svg" alt="" />

    <div class="rectangle-group">
      <div class="group-inner"></div>
      <div class="service-name">SERVICE NAME</div>
      <div class="api-point">API POINT</div>
      <div class="latency-ms">LATENCY (ms)</div>
      <div class="last-checked">LAST CHECKED</div>
      <div class="host">HOST</div>
    </div>
    <img class="icround-refresh-icon" src="\assets\ic_round-refresh-1.svg" alt="" />

    <div class="text5">
      <div class="ms2">618,882 ms</div>
      <div class="sort-by">Sort by...</div>
      <img class="flowbitesort-outline-icon" src="\assets\flowbite_sort-outline.svg" alt="" />
    </div>
    <div class="text6">
      <div class="ms3">618,882 ms</div>
      <div class="search-by-host">Search by host...</div>
      <img class="icon9" src="\assets\Icon-8.svg " alt="" />
    </div>
    <img class="qlementine-iconsmenu-dots-16" src="\assets\qlementine-icons_menu-dots-16.svg" alt="" />

    <div class="text7">
      <div class="ms4">182,788 ms</div>
      <img class="icon8" src="\assets\Icon-5.svg" alt="" />
    </div>
  </div>

  <div class="group-div">
    <div class="rectangle-container">
      <div class="rectangle-div"></div>
      <div class="problems">Problems</div>
      <div class="rectangle-parent2">
        <div class="group-inner"></div>
        <div class="severity">SEVERITY</div>
        <div class="problem">PROBLEM</div>
        <div class="ticket">TICKET</div>
        <div class="time-snap">TIME SNAP</div>
        <div class="age">AGE</div>
        <div class="action">ACTION</div>
        <div class="host2">HOST</div>
      </div>
      <img class="icround-refresh-icon" src="\assets\ic_round-refresh-1.svg" alt="" />

      <div class="text8">
        <div class="ms2">618,882 ms</div>
        <div class="sort-by">Sort by...</div>
        <img class="flowbitesort-outline-icon" src="\assets\flowbite_sort-outline.svg" alt="" />
      </div>
      <div class="text9">
        <div class="ms3">618,882 ms</div>
        <div class="search-by-host">Search by host...</div>
        <img class="icon9" src="\assets\Icon-8.svg " alt="" />
      </div>
      <img class="qlementine-iconsmenu-dots-16" src="\assets\qlementine-icons_menu-dots-16.svg" alt="" />
    </div>
    <img class="frame-icon" src="\assets\Frame 427319231.svg
" alt="" />

    <div class="div11">10.240.72.145</div>
    <div class="high-memory-utilization">High memory utilization</div>
    <div class="raised">Raised</div>
    <div class="div12">2026-03-19&nbsp;&nbsp;&nbsp;09:32:15</div>
    <div class="h-15m">2h 15m</div>
    <div class="text10">
      <div class="average">Average</div>
    </div>
    <img class="material-symbolsinfo-outline-icon" src="\assets\material-symbols_info-outline-1.svg" alt="" />

    <div class="div13">10.240.72.145</div>
    <div class="high-disk-utilization">High Disk utilization</div>
    <div class="raised2">Raised</div>
    <div class="div14">2026-03-19&nbsp;&nbsp;&nbsp;09:32:15</div>
    <div class="h-15m2">2h 15m</div>
    <img class="material-symbolsinfo-outline-icon2" src="\assets\material-symbols_info-outline-1.svg" alt="" />

    <div class="div15">10.240.72.145</div>
    <div class="high-cpu-utilization">High CPU utilization</div>
    <div class="raised3">Raised</div>
    <div class="div16">2026-03-19&nbsp;&nbsp;&nbsp;09:32:15</div>
    <div class="h-15m3">2h 15m</div>
    <img class="material-symbolsinfo-outline-icon3" src="\assets\material-symbols_info-outline-1.svg" alt="" />

    <div class="div17">10.240.72.145</div>
    <div class="high-memory-utilization2">High memory utilization</div>
    <div class="raised4">Raised</div>
    <div class="div18">2026-03-19&nbsp;&nbsp;&nbsp;09:32:15</div>
    <div class="h-15m4">2h 15m</div>
    <div class="text11">
      <div class="average">Average</div>
    </div>
    <img class="material-symbolsinfo-outline-icon4" src="\assets\material-symbols_info-outline-1.svg" alt="" />

    <div class="div19">10.240.72.145</div>
    <div class="high-memory-utilization3">High memory utilization</div>
    <div class="raised5">Raised</div>
    <div class="div20">2026-03-19&nbsp;&nbsp;&nbsp;09:32:15</div>
    <div class="h-15m5">2h 15m</div>
    <div class="text12">
      <div class="average">Average</div>
    </div>
    <img class="material-symbolsinfo-outline-icon5" src="\assets\material-symbols_info-outline-1.svg" alt="" />

    <div class="text13">
      <div class="average">High</div>
    </div>
    <div class="text14">
      <div class="average">High</div>
    </div>
  </div>

  <div class="topbar">
    <div class="text-input">
  <img class="icon12" src="\assets\Icon-6.svg" alt="" />

  <input
    type="text"
    class="dashboard-search"
    placeholder="Search services, devices, or alerts..."
  />

  <img class="group-icon" src="\assets\Group.svg" alt="" />
</div>
    <img class="button-icon" src="\assets\Icon-3.svg" alt="" />
    <img class="button-icon2" src="\assets\material-symbols_menu-rounded.svg" alt="" />

    <div class="button8">
      <img class="material-symbolsmenu-rounded-icon" src="\assets\weui_time-outlined.svg" alt="" />
      <div class="time-period">Time period</div>
      <div class="april-28">28 April - 28 May 2024</div>
      <img class="icon-park-soliddown-one" src="\assets\icon-park-solid_down-one.svg" alt="" />
    </div>
    <img class="button-icon3" src="\assets\Icon-2.svg" alt="" />

    <div class="frame-parent4">
      <div class="group-child3"></div>
      <div class="welcome-to-aaris">Welcome to AARIS dashboard</div>
    </div>
    <img class="t1-2-icon" src="\assets\t1 2 (1).png" alt="" />
  </div>

  <div class="group-parent3">
    <div class="rectangle-parent3">
      <div class="group-child4"></div>
      <img class="icround-refresh-icon3" src="\assets\ic_round-refresh-1.svg " alt="" />
      <img class="fluentstatus-12-regular-icon" src="\assets\fluent_status-12-regular.svg" alt="" />

      <div class="container4">
        <div class="cfmprod-cp">CFMPROD_CP</div>
        <div class="container-inner">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div21">10.240.72.145</div>
          </div>
        </div>
        <div class="container-child">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div22">10.240.72.145</div>
          </div>
        </div>
        <div class="container-inner2">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div21">10.240.72.145</div>
          </div>
        </div>
        <div class="container5"></div>
        <div class="icon-parent">
          <img class="icon13" src="\assets\Icon-13.svg" alt="" />
          <div class="statusbadge">
            <div class="synced">Synced</div>
          </div>
        </div>
        <img class="container-item" src="\assets\Group 427319468.svg" alt="" />
        <div class="div24">→</div>
        <div class="div25">→</div>
      </div>
    </div>

    <div class="db-replication-status-wrapper">
      <div class="db-replication-status">DB Replication Status</div>
    </div>

    <div class="container-wrapper">
      <div class="container6">
        <div class="container-inner">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div21">10.240.72.145</div>
          </div>
        </div>
        <div class="container-child">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div22">10.240.72.145</div>
          </div>
        </div>
        <div class="container-inner2">
          <div class="rectangle-parent4">
            <div class="group-child5"></div>
            <div class="div21">10.240.72.145</div>
          </div>
        </div>
        <div class="div24">→</div>
        <div class="cfmprod-cp">CFMPROD_EVM</div>
        <div class="container7">
          <img class="icon14" src="\assets\Icon-1.svg" alt="" />
          <div class="statusbadge2">
            <div class="not-synced">Not Synced</div>
          </div>
        </div>
        <img class="container-child2" src="\assets\Group 427319468-1.svg" alt="" />
        <img class="icon15" src="\assets\Icon.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="rectangle-parent10">
    <div class="group-child11"></div>
    <div class="delay-queries">Delay Queries</div>
    <img class="icround-refresh-icon3" src="\assets\ic_round-refresh.svg" alt="" />
    <img class="icon-park-outlinehistory-quer" src="\assets\icon-park-outline_history-query.svg" alt="" />

    <div class="text15">
      <div class="no-delays">No Delays</div>
    </div>

    <div class="group-parent4">
      <div class="rectangle-parent11">
        <div class="group-child12"></div>
        <div class="no-delay-queries">No delay queries observed CP DB </div>
        <img class="group-child13" src="\assets\Frame 427319250.svg" alt="" />
      </div>
      <div class="cp-delay-queries">cp delay QUERIES </div>
    </div>

    <div class="group-parent5">
      <div class="rectangle-parent11">
        <div class="rectangle-parent12">
          <div class="group-child12"></div>
          <div class="no-delay-queries2">No delay queries observed in EVM DB </div>
        </div>
        <img class="group-child13" src="\assets\Frame 427319250.svg" alt="" />
      </div>
      <div class="cp-delay-queries">EVM delay QUERIES </div>
    </div>

    <div class="group-parent7">
      <div class="rectangle-parent11">
        <div class="group-child12"></div>
        <div class="no-delay-queries2">No delay queries observed in CP DB </div>
        <img class="group-child13" src="\assets\Frame 427319250.svg" alt="" />
      </div>
      <div class="cp-delay-queries">CP Blocking queries</div>
    </div>
  </div>
</div>